<div class="categories-list-view">
        <div class="categories-header"><h4>Receipts</h4></div>
        <div class="categories-list" *ngIf="!loading">
            <li *ngFor="let image of imageList" (click)="selectImage(image)" [ngClass]="{'active': image.storeRecieptId == selectedImage?.storeRecieptId}">
                <span class="category-name"><img src="{{image.recieptImage}}">{{image.recieptImage}}</span><button (click)="analyseImage(image.recieptImage)">Analyse</button>
            </li>
        </div>
        <!-- <div class="loader" *ngIf="loading"></div> -->
    </div>
    
    <router-outlet></router-outlet>