.nav-bar-view {
    width: 12%;
    background: #141e2f;
    height: 90%;
    display: inline-block;
    position: absolute;
    top: 80px;

    .nav-bar-list {
        li {
            display: block;
            padding: 14px;
            border-bottom: solid 1px #cacaca;
            cursor: pointer;
            padding-left: 5px;

            .nav-name {
                color: #04f6a3;
                font-size: 18px;
                font-weight: 500;
                margin-left: 10px;
            }

            .nav-icon {
                img {
                    width: 17px;
                    float: right;
                    display: inline-block;
                    margin-top: 6px;
                    margin-right: 5px;
                }
            }

            &:hover {
                border-left: 5px solid white;
                padding-left: 0;
            }
        }

        .active {
            border-left: 5px solid white;
            padding-left: 0;
        }
    }
}